<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Crafty Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C318639B2C2701D6003EF4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C31863A12C2701D6003EF4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C31863B32C2701D7003EF4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C31863BD2C2701D7003EF4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
